{% extends 'base.html.twig' %}

{% block title %}Meeting index{% endblock %}

{% block body %}
    <h1>Meeting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Procedures</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.date ? meeting.date|date('Y-m-d H:i:s') : '' }}</td>
                <th>{{ meeting.doctor.name }} {{ meeting.doctor.surname }}</th>
                <th>{{ meeting.patient.name }} {{ meeting.patient.surname }}</th>
                <th>
                    {% for procedure in meeting.procedures %}
                        {{ procedure.name }}<br>
                    {% endfor %}
                </th>
                <td>
                    <a href="{{ path('meeting_show', {'id': meeting.id}) }}">show</a>
                    <a href="{{ path('meeting_edit', {'id': meeting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('meeting_new') }}">Create new</a>
{% endblock %}
