{% extends 'base.html.twig' %}

{% block title %}Meeting index{% endblock %}

{% block body %}
    <h1>Meeting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Daktaras</th>
                <th>Pacientas</th>
                <th>Procedūros</th>
                <th>Statusas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.date ? meeting.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting.doctor.name }} {{ meeting.doctor.surname }}</td>
                <td>{{ meeting.patient.name }} {{ meeting.patient.surname }}</td>
                <td>
                    {% for procedure in meeting.procedures %}
                        {{ procedure.name }}<br>
                    {% endfor %}
                </td>
                <td>{{ constant('App\\Entity\\Meeting::STATUS_DESCRIPTIONS')[meeting.status] }}</td>
                <td>
                    <a href="{{ path('meeting_show', {'id': meeting.id}) }}">show</a>
                    {% if is_granted('ROLE_DOCTOR') %}
                        <a href="{{ path('meeting_edit', {'id': meeting.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_DOCTOR') %}
        <a href="{{ path('meeting_new') }}">Create new</a>
    {% endif %}
{% endblock %}
