{% extends 'base.html.twig' %}

{% block title %}Meeting{% endblock %}

{% block body %}
    <div class="row m-2" style="font-weight: bold; font-size: 25px; padding-top: 20px;">
        Pasirinktas susitikimas:
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Data</th>
                <th>Daktaras</th>
                <th>Pacientas</th>
                <th>Procedūros</th>
                <th>Statusas</th>
            </tr>
            <tr>
                <td>{{ meeting.date ? meeting.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting.doctor.name }} {{ meeting.doctor.surname }}</td>
                <td>{{ meeting.patient.name }} {{ meeting.patient.surname }}</td>
                <td>
                    {% for procedure in meeting.procedures %}
                        {{ procedure.name }}<br>
                    {% endfor %}
                </td>
                <td>{{ constant('App\\Entity\\Meeting::STATUS_DESCRIPTIONS')[meeting.status] }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row m-2" style="font-weight: bold; font-size: 1rem; padding-top: 10px;">
        Aprašymas:
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #24b8f7; width: 400px;">{{ meeting.description }}</li>
    </ul>

    {% if is_granted('ROLE_DOCTOR') %}
        <div class="row justify-content-center m-2">
            <a class="btn btn-dark" style="width: 120px;" href="{{ path('meeting_edit', {'id': meeting.id}) }}">Konfigūruoti</a>
            {{ include('meeting/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <div class="row justify-content-center m-2", style="padding-top: 50px;">
        <a class="btn btn-lg btn-primary" style="width: 200px;" href="{{ path('meeting_index') }}">Grįžti į sąrašą</a>
    </div>

{% endblock %}
