{% extends 'base.html.twig' %}

{% block title %}Meeting{% endblock %}

{% block body %}
    <h1>Meeting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Daktaras</th>
                <th>Pacientas</th>
                <th>Procedūros</th>
                <th>Statusas</th>
            </tr>
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.date ? meeting.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting.doctor.name }} {{ meeting.doctor.surname }}</td>
                <td>{{ meeting.patient.name }} {{ meeting.patient.surname }}</td>
                <td>
                    {% for procedure in meeting.procedures %}
                        {{ procedure.name }}<br>
                    {% endfor %}
                </td>
                <td>{{ constant('App\\Entity\\Meeting::STATUS_DESCRIPTIONS')[meeting.status] }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('meeting_index') }}">back to list</a>

    {% if is_granted('ROLE_DOCTOR') %}
        <a href="{{ path('meeting_edit', {'id': meeting.id}) }}">edit</a>
        {{ include('meeting/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
