{% extends 'base.html.twig' %}

{% block title %}Procedure{% endblock %}

{% block body %}
    <div class="row m-2" style="font-weight: bold; font-size: 25px; padding-top: 20px">
        Pasirinkta procedūra:
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ procedure.name }}</td>
            </tr>
            <tr>
                <th>Kaina</th>
                <td>{{ procedure.cost }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row justify-content-center m-2">
        <a class="btn btn-dark" style="width: 120px;" href="{{ path('procedure_edit', {'id': procedure.id}) }}">Konfigūruoti</a>
        {{ include('procedure/_delete_form.html.twig') }}
    </div>

    <div class="row justify-content-center m-2", style="padding-top: 50px;">
        <a class="btn btn-lg btn-primary" style="width: 200px;" href="{{ path('procedure_index') }}">Grįžti į sąrašą</a>
    </div>
{% endblock %}
