<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	{% block stylesheets %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	{% endblock %}

	{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	{% endblock %}
	<style>
		.justify-between {
			justify-content: space-between;
		}
		.flex {
			display: flex;
		}
		.login-button {
			width: 200px;
			border: 2px solid black;
			background-color: white;
			transition: 0.3s;
		}
		.login-button:hover .dropdown-content {
			width: 200px;
			border: 2px solid black;
			background-color: #c0bfbf;
		}
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			z-index: 1;
		}
		.dropdown:hover .dropdown-content {
			display: block;
		}
	</style>


</head>
<body style="background-color: #00a8f3">
<header>
	<div class="flex justify-between">

		<div class=" align-text flex justify-between">
			<div class="">
				<a class="btn login-button rounded-0" href="/" role="button">Pradinis</a>
				<a class="btn login-button rounded-0" href="">Galerija</a>
			</div>
			<div class="dropdown ">
				<button class="btn login-button rounded-0 justify-between" href="">Apie mus</button>
				<div class="dropdown-content">
					<a class="dropdown-item rounded-0" href="/contract">
						Kontaktai</a>
					<a class="dropdown-item rounded-0" href="/pricelist">
						Kainoraštis</a>
					<a class="dropdown-item rounded-0" href="/info">
						Informacija</a>
				</div>
			</div>
		</div>

		{% if app.user %}
			<div class="dropdown ">
				<button class="btn  rounded-0 login-button">{{ app.user.username }}</button>
				<div class="dropdown-content">
					<a class="dropdown-item rounded-0" href="{{ path('app_user_change_password') }}">
						Nustatymai</a>
					<a class="dropdown-item rounded-0" href="{{ path('app_logout') }}">
						Atsijungti</a>
				</div>
			</div>

		<div class="dropdown-content">


		</div>
		{% else %}
		<div class="">
			<a class="btn  rounded-0 login-button" href="{{ path('app_login') }}">
				Prisijungti
				<br></a>
			<a class="btn  rounded-0 login-button" href="{{ path('app_register') }}">
				Registruotis
				<br></a>
		</div>
	{% endif %}

	</div>
</header>
{% block body %}{% endblock %}
<hr style="border: 3px solid #000000;">
<footer class="d-flex justify-content-between">
	<div></div>
	<div class="ml-6 align-text">
		<h2>Kontaktai</h2>
		<p>8 632 22125</p>
		<p>mrdentist@dent.lt</p>
	</div>
	<div class="align-text">
		<h2 class="mb-6">Vieta</h2>
		<p>Studentų g. 50, Kaunas 51368</p>
	</div>
	<div class="mr-6 align-text">
		<h2>Darbo laikas</h2>
		<p>I - IV 9:00 - 20:00</p>
		<p>V 9:00 - 18:00</p>
		<p>VI - VII nedirbame</p>
	</div>
	<div>
		<img src="logo.png">
	</div>
</footer>
</body>
</html>
