{% extends 'base.html.twig' %}

{% block title %}Change password!{% endblock %}

{% block body %}

     <div  class="container-fluid" Style="margin-top: 10%; margin-bottom: 5%">
                <div class="row m-5 justify-content-center" Style="font-weight: bold; font-size: 40px;">
                    Slaptažodžio pakeitimas:
                </div>

    {{ form_start(ChangePasswordForm) }}
    <div class ="form-group mx-auto" style="width: 485px;">
    {{ form_row(ChangePasswordForm.oldPassword, {
            label: 'Dabartinis slaptažodis',
            label_attr: { style : 'font-weight: bold'},
            attr: { class : 'form-control', placeholder : 'Įveskite esamą slaptažodį'}
    }) }}
    <div class = "p-2"></div>
    {{ form_row(ChangePasswordForm.newPassword.first, {
            label: 'Naujas slaptažodis',
            label_attr: { style : 'font-weight: bold'},
            attr: { class : 'form-control', placeholder : 'Įveskite naują slaptažodį'}
    }) }}
    <div class = "p-2"></div>
        {{ form_row(ChangePasswordForm.newPassword.second, {
            label: 'Pakartokite slaptažodį',
            label_attr: { style : 'font-weight: bold'},
            attr: { class : 'form-control', placeholder : 'Pakartokite naują slaptažodį'}
    }) }}
    </div>
    <div class="row justify-content-center m-2">
        <button type="submit" class="btn btn-dark" style="width: 100px;">Išsaugoti</button>
    </div>
    {{ form_end(ChangePasswordForm) }}
    </div>
{% endblock %}
